<%- include("partials/header") %>
<div class="container pl-5">
    <div class="row text-center mt-4">
        <div class="col"><h1>Viewing all cards:</h1></div>
    </div>
    <div class="row">
        <% cards.forEach(element => { %>
            <% if (element.type === "white") {%> 
                <div class="whitecard"><p><%=element.text%></p></div>
            <% } else  {%>
                <div class="redcard"><p><%=element.text%></p></div>
            <% } %>   
        <% }); %> 
    </div>
</div>
<%- include("partials/footer") %>