<%- include("partials/header") %>
<div class="container pl-5">
    <div class="row text-center mt-4">
        <div class="col"><h1>Viewing all cards:</h1></div>
    </div>
    <div class="row">
        <% cards.White.forEach(element => { %>
                <div class="whitecard"><p><%=element.text%></p></div>
        <% }); %>
        <% cards.Red.forEach(element => { %>
            <div class="redcard"><p><%=element.text%></p></div>
    <% }); %>  
    </div>
</div>
<%- include("partials/footer") %>