<%- include("partials/header") %>
<div class="container">
    <div class="row">
        <h1>Viewing all cards:</h1>
    </div>
    <div class="row">
        <ul>
        <% cards.forEach(element => { %>
            <li>Text: <%=element.text%> - Type: <%=element.type%> </li>
        <% }); %> 
        </ul>
    </div>
</div>
<%- include("partials/footer") %>