<%- include("partials/header") %>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Game Code: <%=  lobbycode%> </h1>
            <input type="text" name="message" id="message" placeholder="enter your message">
            <button id="private">Broadcast</button>
            <br>
            <button id="Start">Start Game</button>
            
             <p>Username: <%=username %> </p>
        </div>
    </div>
    <div class="row align-items-end" id="hand">

    </div>
</div>

<script>
    var socket = io();
    var currentRoom = "";
    var numOfUsers = 0;
    
    //Parse query headers in URL
    function getUrlParameter(name) {
    name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    var username = getUrlParameter("username");
    var lobbycode = getUrlParameter("lobbycode");

    //Start
    socket.emit("newUser", {username: username, lobbycode: lobbycode})
    socket.emit("connect to room", {room: lobbycode})
    

    $("#Start").click(function(){
        console.log("Start Game")
        socket.emit("Start game")
    });

    //Send message to current room
    $("#private").click(function(){
        var message = $("#message").val();
        socket.emit("room message", {message: message, room:currentRoom})
    })

    function changeRoom() {
        var room = $("input").val();
        socket.emit("connect to room", {room: room}) 
    }

    function displayHand(data) {
        var listItem = ""; 
        $.each( data.hand[0], function( i, item ) {
            console.log(data.hand[0][i].text);
            console.log(data.hand[0][i].type);
            if (data.hand[0][i].type === "red") {
                console.log(item)
                listItem += "<div class='gameredcard'><p>" + item.text + "</p></div>";
            } 
            else {
                listItem += "<div class='gamewhitecard'><p>" + item.text + "</p></div>";
            }
        });
        $( "#hand" ).html( listItem );
    }

    socket.on("deck", (data) => {
        console.log("Deck: " + data.hand);
        displayHand(data);
    });

    socket.on("send back hand", (data) => {
        console.log("Hand retrieved: " + data.hand);
        displayHand(data);
    })

    socket.on("recievedmessage", (data) => {
        console.log("Message : " + data.message + " to " + currentRoom + " room.")
    });

    socket.on("connectedRoom", (data) => {
        console.log("User " + username + " has connected to " + data.room + " room")
        currentRoom = data.room;
        numOfUsers++;
        socket.emit("retrieve hand");
    });
</script>  
<%- include("partials/footer") %>