<%- include("partials/header") %>
<div class="container main">
    <h1>Welcome!</h1>
    <div class="row">
        <input type="text" name="room" id="room" placeholder="name your lobby">
        <button id="connect">Connect</button>
        <br>
        <input type="text" name="message" id="message" placeholder="enter your message">
        <button id="private">Broadcast</button>
        <br>
        <button id="Start">Start Game</button>
    </div>
</div>
<%- include("partials/footer") %>