<%- include("partials/header") %>
<div class="container-fluid main tall">
    <div class="row tall">
        <div class="col-md-6 tall red" id="mainleft">
            <h1 class="black display-1 main-title">Red</h1>
            <button type="button" class="btn btn-light btn-lg main-button">Create Game</button>
            <form action="/game/new" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name = "username" placeholder="Enter username">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg  btn-secondary btn-block mt-3">Create Game</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 tall black" id="mainright">
            <h1 class="red display-1 main-title">Flags</h1>
            <button type="button" class="btn btn-light btn-lg main-button">Join Game</button>
            <form action="/game/new" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name = "username" placeholder="Enter game code">
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg  btn-secondary btn-block mt-3">Join Game</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include("partials/footer") %>